<div class="container">
  <div class="d-flex flex-column">
    <!-- dropdown -->
    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        分類
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">家居物業</a>
        <a class="dropdown-item" href="#">交通出行</a>
        <a class="dropdown-item" href="#">休閒娛樂</a>
        <a class="dropdown-item" href="#">餐飲食品</a>
        <a class="dropdown-item" href="#">其他</a>
      </div>
    </div>

    <!-- display total amount --> 
    <div class="total-amount-section m-5">
      <span class="m-5">總金額：</span>
      <span class="total-amount m-5">150</span>
    </div>

    <ul class="list-group">
      {{#each records}}
      <li class="list-group-item">
        <span>{{ this.name }} {{ this.amount }}元  {{ this.date }}</span>
        <a class="btn btn-success" href="#" role="button">修改</a>
        <a class="btn btn-danger" href="#" role="button">刪除</a>
      </li>
      {{/each}}
    </ul>

    <div>
      <a href="/expense-tracker/new" class="btn btn-outline-warning btn-lg active mt-3" role="button" aria-pressed="true">新增支出</a>
    </div>

  </div>

</div>